[Unit]
Description=bins-webhook for CSL CS463 reader
After=network.target

[Service]
WorkingDirectory=/home/reelyactive/bins-webhook
ExecStart=/usr/local/bin/node bin/bins-webhook-csl
Restart=on-failure
User=reelyactive

[Install]
WantedBy=multi-user.target